.form-add-book {
    @include global.flex($align: center, $direction: column, $justify: space-between);
    width: 100%;
    max-width: 44.2rem;
    height: 50rem;
    border: 3px solid global.$brand-color;
    border-radius: 2rem;
    padding: 2rem;

    .form-header {
        @include global.flex($align: center, $gap: 2rem);

        @include global.media-query(320px) {
            @include global.flex($direction: column, $align: center, $gap: 1rem);
        }

        h3 {
            color: global.$brand-color;
            font-weight: normal;
        }
    }

    .box-input {
        width: 90%;
        position: relative;

        input:not(input[type="submit"]) {
            width: 100%;
            border-radius: 15px;
            border: 2px solid global.$brand-color;
            padding: 0.875rem 1.4rem;

            &::placeholder {
                color: global.$dark-color;
            }
        }

        .error-message {
            position: absolute;
            left: 1.8rem;
            top: 70%;
            color: global.$error-color;
            font-size: 1.4rem;
            margin-top: 1rem;
        }
    }

    input[type="submit"] {
        border-radius: 10px;
        background: #005695;
        width: 195px;
        height: 53px;
        border: none;
        color: global.$light-color;
        font-size: 2rem;
        cursor: pointer;

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}

.image-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    position: absolute;
    top: 30%;
    right: 10%;
    text-align: center;

    img {
        max-width: 250px;
        height: auto;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    @include global.media-query(sm) {
        position: static;
    }
}