.s-register {
    &>div {
        padding-top: 2rem;
        @include global.flex($direction: column, $align: center, $gap: 4rem);

        h2 {
            font-size: 2rem;
        }
    }

    .toastify {
        font-size: 1.2rem;
        color: red;
        position: absolute;
        top: 16%;

    }
}