.s-hero {
    height: 70vh;
    background: url("@assets/images/home/bg-home.webp") no-repeat center;
    background-size: cover;

    &>div {
        @include global.flex($align: center);

        h2 {
            color: global.$light-color;
            font-size: 3.2rem;
            width: 20vw;
        }
    }

    @include global.media-min-max($min: 993px, $max: 1299px) {
        height: 60vh;

        &>div {
            h2 {
                font-size: 3rem;
                width: 26vw;
            }
        }
    }

    @include global.media-query(lg) {
        height: 50vh;

        &>div {
            h2 {
                color: global.$light-color;
                font-size: 2.8rem;
                text-align: center;
                width: 100%;
            }
        }
    }
}

.s-cards {
    padding: 4% 0;

    &>div {
        .box-cards {
            margin-top: 5.5rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(28.6rem, 1fr));
            gap: 2rem;

            @include global.media-min-max($min: 993px, $max: 1299px) {
                grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
            }
        }
    }

    @include global.media-query(lg) {
        text-align: center;

        &>div {
            .box-cards {
                margin-top: 3rem;
                justify-items: center;
            }
        }
    }
}