.card {
    max-width: 28.6rem;
    height: 32.1rem;
    background-color: global.$bg-card;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: global.$box-shadow;
    @include global.flex($justify: center, $align: center, $direction: column, $gap: 3rem);

    p {
        text-align: center;
    }
}