.form-search {
    position: relative;
    background-color: transparent;
    border: 2px solid global.$light-color;
    border-radius: 2rem;
    width: 18vw;
    @include global.flex($align: center, $justify: space-between);
    padding: 1rem;

    input {
        outline: none;
        background-color: transparent;
        border: none;
        width: 90%;
        color: global.$light-color;
        font-family: inter, sans-serif;

        &::placeholder {
            color: global.$light-color;
        }
    }

    .btn-search {
        background-color: transparent;
        border: 0;
        z-index: 1000;
        cursor: pointer;
    }

    .error-message {
        font-size: 1.2rem;
        color: red;
        position: absolute;
        top: 5rem;
    }

}