.footer {

    color: global.$light-color;


    .contact-footer {
        background-color: #005695;
        padding: 3rem 0;

        p {
            font-size: 1.6rem;
        }

        &>div {
            @include global.flex($justify: space-between, $align: center);

            .social-links {
                @include global.flex($align: center, $gap: 2rem);

                img {
                    width: 100%;
                    aspect-ratio: 1/1;
                }
            }
        }
    }

    .copy-footer {
        background-color: global.$dark-color;
        padding: 1.6rem 0;
        text-align: center;

        p {
            font-size: 1.6rem;

            a {
                color: #FFAC2D;
                font-weight: bold;
            }
        }
    }

    @include global.media-query(md) {
        .contact-footer {
            &>div {
                @include global.flex($direction: column, $align: center, $gap: 2rem);
            }
        }
    }
}