$brand-color: #005695;
$light-color: #ffffff;
$gray-color: #aaaaaa;
$dark-color: #232020;
$bg-card-book: #f8f8f8;
$bg-card: rgba(1, 87, 148, 0.30);
$box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.1);
$gradient: linear-gradient(90deg, rgba(0, 27, 47, 1) 0%, rgba(0, 86, 149, 1) 88%);