* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
}



main {
    padding-bottom: 4rem;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.toastify {
    font-size: 1.2rem;
    color: red;
    position: absolute;
    top: 16%;

}