.s-register {
    &>div {
        @include global.flex($direction: column, $align: center, $gap: 4rem);

        h2 {
            font-size: 2rem;
        }

        @include global.media-query(md) {
            gap: 2rem;

            h2 {
                text-align: center;
            }
        }
    }

}