.s-register {
    &>div {
        @include global.flex($direction: column, $align: center, $gap: 4rem);

        h2 {
            font-size: 2rem;
        }

        @include global.media-query(md) {
            gap: 2rem;

            h2 {
                text-align: center;
            }
        }
    }

    .toastify {
        font-size: 1.2rem;
        color: red;
        position: absolute;
        top: 16%;

    }
}