.menu {
    @include global.flex($align: center, $gap: 4.3rem);

    a {
        color: global.$light-color;
        font-size: 2rem;


        &::after {
            content: "";
            display: block;
            width: 0;
            height: 0.5px;
            margin-top: 0.5rem;
            background: global.$light-color;
            transition: width .3s ease-in;
        }

        &.active::after {
            width: 100%;
            border-bottom: 2px solid;
        }
    }
}