.menu {
    @include global.flex($align: center, $gap: 4.3rem);

    a {
        color: global.$light-color;
        font-size: 2rem;
        padding: 1rem 2rem;
        border-radius: 2rem;

        &.active {
            background-color: global.$bg-card;
            font-weight: bold;

        }

    }
}